@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-primary: #0f172a;
  --foreground-primary: #f9fbfd;
  --background-secondary: #1a1f35;
  --foreground-secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #f9fbfd;
    --foreground-primary: #0f172a;
    --background-secondary: #e2e8f0;
    --foreground-secondary: #0f172a;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

@theme {
  --color-background-primary: var(--background-primary);
  --color-foreground-primary: var(--foreground-primary);
  --color-background-secondary: var(--background-secondary);
  --color-foreground-secondary: var(--foreground-secondary);

  /* Theme Colors */
  --color-green-dark: #2c492f;
  --color-blue-gc: #3b82f6;

  --color-red-gc: #ca252e;

  --color-orange-gc: #f74013;
  --color-orange-gc-light: #ffa109;

  --color-grey-gc: #94a3b8;
  --color-grey-dark: #334155;

  --color-dark: #16181b;

  /* Dark theme colors */
  --color-dark-primary: #1e3b15;
  --color-dark-secondary: #2c492f;

  /* Light theme colors */
  --color-light-primary: #f9fbfd;
  --color-light-secondary: #e2e8f0;

  /* Text colors for dark theme */
  --color-dark-text-primary: #f9fbfd;
  --color-dark-text-secondary: #ffffff;

  /* Text colors for light theme */
  --color-light-text-primary: #0f172a;
  --color-light-text-secondary: #0f172a;

  --font-family-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  /* background-color: var(--background-primary); */
  /* background: var(--background-secondary) this does not work, the style applies, but does not change according to the theme */
  font-family: var(--font-family-jakarta);
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}

