@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background-primary: #0f172a;
  --foreground-primary: #f9fbfd;
  --background-secondary: #1a1f35;
  --foreground-secondary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #f9fbfd;
    --foreground-primary: #0f172a;
    --background-secondary: #e2e8f0;
    --foreground-secondary: #0f172a;
  }
}

@theme {
  --color-background-primary: var(--background-primary);
  --color-foreground-primary: var(--foreground-primary);
  --color-background-secondary: var(--background-secondary);
  --color-foreground-secondary: var(--foreground-secondary);
  
  /* GardaChain Colors */
  --color-green-dark: #2C492F;
  --color-blue-gc: #3B82F6;
  
  --color-red-gc: #CA252E;

  --color-orange-gc: #F74013;
  --color-orange-gc-light: #FFA109;

  --color-grey-gc: #94A3B8;
  --color-grey-dark: #334155;

  --color-dark: #16181b;


  /* Dark theme colors */
  --color-dark-primary: #1E3B15;
  --color-dark-secondary: #2C492F;
  
  /* Light theme colors */
  --color-light-primary: #f9fbfd;
  --color-light-secondary: #e2e8f0;
  
  /* Text colors for dark theme */
  --color-dark-text-primary: #f9fbfd;
  --color-dark-text-secondary: #ffffff;
  
  /* Text colors for light theme */
  --color-light-text-primary: #0f172a;
  --color-light-text-secondary: #0f172a;
  

  --font-family-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  /* background-color: var(--background-primary); */
  /* background: var(--background-secondary) this does not work, the style applies, but does not change according to the theme */
  font-family: var(--font-family-jakarta);
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}
